<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My Django Blog</title>
</head>
<body>

  <div>
    <h1><a href="">My Django Blog</a></h1>
  </div>

  <div>
    <p>published: 14.06.2015</p>
    <h2><a href="">My First Post</a></h2>
    <p>
      I seek the means to fight injustice.
      To turn fear against those who prey on the fearful.
    </p>
  </div>

  <div>
    <p>published: 14.06.2015</p>
    <h2><a href="">My Second Post</a></h2>
    <p>
      I seek the means to fight injustice.
      To turn fear against those who prey on the fearful.
    </p>
  </div>
</body>
</html>
